*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

ul {
  line-height: inherit;
  padding-left: 1rem;
  text-align: left;
}

input,
button,
textarea,
select {
  font: inherit;
}